<div id="<%= dom_id room %>">
  <p>
    <strong>Nome:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Tipo da sala:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= room.capacity %>
  </p>

  <p>
    <strong>Recursos:</strong>
    <%= room.resources %>
  </p>

</div>
