<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room.capacity %>
  </p>

  <p>
    <strong>Resources:</strong>
    <%= room.resources %>
  </p>

</div>
