<p style="color: green"><%= notice %></p>

<h1><%= @room.name %></h1>

<%= render @room %>

<div>
  <%= link_to "Editar essa Sala", edit_room_path(@room) %> |
  <%= link_to "Voltar para Salas", rooms_path %><br>
</div>

<br>

<%= button_to "Destruir essa sala", @room, method: :delete %>
